<a href='/'>BACK</a>
<body style='background-color:black'
<a href='/'>Back</a>
<h1 style='background-color:black;color: hotpink; text-align:center; font-size:90px'>{{twitteruser.username}}'s Profile page</h1>
{% comment %} {% if TwitterUser.username == tweets.author%} {% endcomment %}
{% for tweet in tweets %}
<li style="background-color:lightgray; font-size:25px; text-align:center">
   <a href='/detail/{{tweet.id}}/'>
   date posted: {{tweet.date_posted}}

    Tweet: {{tweet.content}} 
    </a>
    </li>
    {% endfor %}
    {% comment %} {% endif %} {% endcomment %}
        <a href="/unfollow/{{twitteruser.username}}"><button>UnFollow</button></a>
        <a href="/follow/{{twitteruser.username}}"><button>Follow</button></a>
    <h4 style='color:lime; text-align:center'>{{twitteruser}} has {{users.count}} Followers</h4>
    <h4 style='color:lime; text-align:center'>{{twitteruser}} has {{tweets.count}} Tweets</h4>
    </body>